@import "../../themes/ionic.globals";

// Progress Bar
// --------------------------------------------------

/// @prop - The animation duration of the progress bar
$progress-animation-duration:       2s !default;

/// @prop - The speed at which the progress values transition, this is useful for determinate and buffer modes
$progress-bar-transition:           .3s !default;

/// @prop - The speed at which the buffer circles will be animating
$progress-buffer-circle-speed:      .3s !default;

/// @prop - SVG to use for the buffering circles whenever the progress bar is buffering
$progress-buffer-circles-svg:       "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjQiIHZpZXdQb3J0PSIwIDAgMTIgNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxlbGxpcHNlIGN4PSIyIiBjeT0iMiIgcng9IjIiIHJ5PSIyIj4KICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9ImN4IiBmcm9tPSIyIiB0bz0iLTEwIiBkdXI9IjAuNnMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvZWxsaXBzZT4KICA8ZWxsaXBzZSBjeD0iMTQiIGN5PSIyIiByeD0iMiIgcnk9IjIiIGNsYXNzPSJsb2FkZXIiPgogICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iY3giIGZyb209IjE0IiB0bz0iMiIgZHVyPSIwLjZzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICA8L2VsbGlwc2U+Cjwvc3ZnPgo=" !default;


ion-progress {
  position: relative;
  display: block;
  overflow: hidden;

  width: 100%;
  height: 5px;
}

.progress-animatable {
  position: absolute;
  display: none;

  width: 0%;
  height: 100%;
}

.progress-bar {
  display: none;

  width: 0%;
  height: 100%;

  transition: width $progress-bar-transition cubic-bezier(.4, .0, .2, 1);
}

.progress-buffer-circles {
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;

  width: 100%;
  height: 4px;

  mask: url(#{$progress-buffer-circles-svg});
}

ion-progress .progress-buffer {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}


.progress-indeterminate .progress-animatable,
.progress-query .progress-animatable {
  display: block;

  animation: indeterminate $progress-animation-duration infinite;

}

.progress-indeterminate {
  @include rtl() {
    transform: rotate(180deg);
  }
}

.progress-query {
  transform: rotate(180deg);

  @include rtl() {
    transform: rotate(0deg);
  }

}

.progress-determinate .progress-bar,
.progress-buffer .progress-bar {
  display: block;
}

.progress-buffer .progress-buffer-circles {
  display: block;

  animation: buffering $progress-buffer-circle-speed infinite;

  @include rtl() {
    animation-direction: reverse;
  }

}


// Animation Keyframes
// --------------------------------------------------

@keyframes indeterminate {
  0% {
    width: 0%;
    // scss-lint:disable PropertySpelling
    left: 0%;

  }

  50% {
    width: 75%;

    // scss-lint:disable PropertySpelling
    left: 25%;

  }

  75% {
    width: 0%;

    // scss-lint:disable PropertySpelling
    left: 110%;

  }
}

@keyframes buffering {
  to {
    transform: translateX(-10px);
  }
}